pandas
bokeh
matplotlib
numpy
holoviews
seaborn
plotnine

plotly
# for static images
psutil

hvplot
# for bokeh renderer
selenium

altair
# for static saving: https://github.com/altair-viz/altair_saver/
altair_saver

